@import 'tailwindcss';
@config '../../tailwind.config.js';

@theme {
	/* Subconjunto de los tokens de texto/color de la web (Aware UI) */
	--color-primary-text: #353c45;
	--color-secondary-text: #454f5e;
	--color-paragraph: #5a5959;
	--color-medium: #6e747b;
	--color-muted-text: #83868d;

	--color-blue-surface: #005cef;
	--color-blue-surface-3: #e1edff;
}

@layer base {
	:root {
		/* Paleta Fuxion (de aware UI) */
		--background: 0 0% 100%;
		--foreground: 214 13% 24%;

		--card: 0 0% 100%;
		--card-foreground: 214 13% 24%;

		--popover: 0 0% 100%;
		--popover-foreground: 214 13% 24%;

		--primary: 217 100% 47%;
		--primary-foreground: 0 0% 100%;

		--secondary: 175 94% 43%;
		--secondary-foreground: 0 0% 100%;

		--background-secondary: 205 28% 97%;

		--muted: 216 100% 94%;
		--muted-foreground: 223 4% 53%;

		--accent: 216 100% 94%;
		--accent-foreground: 214 13% 24%;

		--destructive: 8 99% 54%;
		--destructive-foreground: 0 0% 100%;

		--border: 212 3% 75%;
		--input: 0 0% 100%;
		--ring: 217 100% 47%;
		--shadow: 0 0% 66%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@utility scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
